main
*.h.gch
*.swp
build/
*.o
*.log
*.user
3rdparty/
project_path.c
lib/constant.vala
.vscode/
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

# wayland-scanner
/server-decoration-client-protocol.h
/server-decoration-protocol.c
/blur-client-protocol.h
/blur-protocol.c
/treeland-personalization-manager-v1-client-protocol.h
/treeland-personalization-manager-v1-protocol.c

# Build artifacts
debian/.debhelper/
debian/files
debian/debhelper-build-stamp
debian/*.substvars
debian/*.debhelper.log
debian/gxde-terminal/
/gxde-terminal
*.gmo
