[Desktop Entry]
Categories=GNOME;GTK;DDE;Utility;System;TerminalEmulator; (GTK)
Comment=Use the command line
Exec=deepin-terminal-gtk (GTK)
GenericName=Terminal (GTK)
Icon=deepin-terminal
Keywords=shell;prompt;command;commandline; (GTK)
Name=Deepin Terminal (GTK)
StartupNotify=true
TryExec=deepin-terminal-gtk
Type=Application
X-Deepin-Vendor=deepin

# Translations:
# Do not manually modify! 
Comment[am_ET]=የ ትእዛዝ መስመር ይጠቀሙ (GTK)
Comment[ar]=استخدام سطر الأوامر (GTK)
Comment[ast]=Usa la llinia comandos (GTK)
Comment[az]=Əmr sətirindən istifadə et (GTK)
Comment[bg]=Използване на команден ред (GTK)
Comment[ca]=Useu la línia d'ordres (GTK)
Comment[cs]=Používejte příkazový řádek (GTK)
Comment[da]=Brug kommandolinjen (GTK)
Comment[de]=Kommandozeile benutzen (GTK)
Comment[el]=Χρήση της γραμμής εντολών (GTK)
Comment[en_AU]=Use the command line (GTK)
Comment[eo]=Uzi la komandlinio (GTK)
Comment[es]=Usar la línea de comando (GTK)
Comment[es_419]=Usar la línea de comandos (GTK)
Comment[fi]=Käytä komentoriviä (GTK)
Comment[fr]=Utiliser la ligne de commande (GTK)
Comment[gl_ES]=Empregar a liña de comandos (GTK)
Comment[he]=השתמש בשורת פקודה (GTK)
Comment[hi_IN]=आदेश रेखा का उपयोग करें (GTK)
Comment[hr]=Koristi naredbeni redak (GTK)
Comment[hu]= A parancssor használata (GTK)
Comment[hy]=Օգտագործել հրամանների տողը (GTK)
Comment[id]=Gunakan baris perintah (GTK)
Comment[it]=Usa linea di comando (GTK)
Comment[ja]=コマンドラインを使用する (GTK)
Comment[ko]=명령어 사용 (GTK)
Comment[lt]=Naudoti komandų eilutę (GTK)
Comment[ml]=കമാൻഡ് ലൈൻ ഉപയോഗിക്കുക (GTK)
Comment[ms]=guna baris perintah (GTK)
Comment[nb]=Bruk kommandolinjen (GTK)
Comment[nl]=De opdrachtregel gebruiken (GTK)
Comment[pam]=Gamitan ing command line (GTK)
Comment[pl]=Użyj wiersza poleceń (GTK)
Comment[pt]=Utilize a linha de comandos (GTK)
Comment[pt_BR]=Usar a linha de comando (GTK)
Comment[ro]=Utilizare linia de comandă (GTK)
Comment[ru]=Использовать командную строку (GTK)
Comment[sk]=Použiť príkazový riadok (GTK)
Comment[sl]=Uporabi ukazno vrstico (GTK)
Comment[sq]=Përdorni rresht urdhrash (GTK)
Comment[sr]=Користите командну линију (GTK)
Comment[sv]=Använd kommandoraden (GTK)
Comment[tr]=Komut satırını kullan (GTK)
Comment[uk]=Використовувати командний рядок (GTK)
Comment[zh_CN]=使用命令行 (GTK)
Comment[zh_HK]=使用命令列 (GTK)
Comment[zh_TW]=使用命令列介面 (GTK)
GenericName[af]=Terminaal (GTK)
GenericName[am_ET]=ተርሚናል (GTK)
GenericName[ar]=الطرفية (GTK)
GenericName[ast]=Terminal (GTK)
GenericName[az]=Terminal (GTK)
GenericName[bg]=Терминал (GTK)
GenericName[bn]=প্রান্তিক (GTK)
GenericName[ca]=Terminal (GTK)
GenericName[cs]=Terminál (GTK)
GenericName[da]=Terminal (GTK)
GenericName[de]=Terminal (GTK)
GenericName[el]=Τερματικό (GTK)
GenericName[en_AU]=Terminal (GTK)
GenericName[eo]=Terminalo (GTK)
GenericName[es]=Terminal  (GTK)
GenericName[es_419]=Terminal  (GTK)
GenericName[fa]=ترمینال (GTK)
GenericName[fi]=Pääte (GTK)
GenericName[fr]=Terminal (GTK)
GenericName[gl_ES]=Terminal (GTK)
GenericName[he]=מסוף (GTK)
GenericName[hi_IN]=टर्मिनल (GTK)
GenericName[hr]=Terminal (GTK)
GenericName[hu]=Terminál (GTK)
GenericName[id]=Terminal (GTK)
GenericName[it]=Terminale (GTK)
GenericName[ja]=ターミナル (GTK)
GenericName[ko]=터미널 (GTK)
GenericName[lt]=Terminalas (GTK)
GenericName[ml]=ടെർമിനൽ (GTK)
GenericName[mn]=Терминал (GTK)
GenericName[ms]=Terminal (GTK)
GenericName[nb]=Terminal (GTK)
GenericName[nl]=Terminal (GTK)
GenericName[pl]=Terminal (GTK)
GenericName[pt]=Abrir Terminal (GTK)
GenericName[pt_BR]=Terminal (GTK)
GenericName[ro]=Terminalul (GTK)
GenericName[ru]=Терминал (GTK)
GenericName[sk]=Terminál (GTK)
GenericName[sl]=Terminal (GTK)
GenericName[sq]=Terminal (GTK)
GenericName[sr]=Терминал (GTK)
GenericName[sv]=Terminal (GTK)
GenericName[ta]=முனையம் (GTK)
GenericName[tr]=Uçbirim (GTK)
GenericName[ug]=تېرمىنال (GTK)
GenericName[uk]=Термінал (GTK)
GenericName[vi]=Đầu cuối (GTK)
GenericName[zh_CN]=终端 (GTK)
GenericName[zh_HK]=終端機 (GTK)
GenericName[zh_TW]=終端機 (GTK)
Keywords[ca]=shell;intèrpretd'ordres;ordre;línead'ordres;
Keywords[it]=shell;prompt;command;commandline;
Keywords[lt]=apvalkalas;užklausa;komanda;komandų eilutė;eilutė;komandos;
Keywords[nl]=shell;prompt;opdracht;opdrachtregel;
Keywords[pt_BR]=shell;prompt;command;commandline;
Keywords[ru]=shell;prompt;command;commandline;
Keywords[sk]=shell;prompt;command;commandline;
Keywords[sq]=shell;prompt;command;commandline;
Keywords[tr]=shell;prompt;command;commandline;kabuk;komut;komutsatırı;
Keywords[uk]=shell;prompt;command;commandline;оболонка;запит;команда;командна;рядок;
Keywords[zh_CN]=shell;prompt;command;commandline;
Name[am_ET]=የ ዲፕኢን ተርሚናል (GTK)
Name[ar]=طرفية ديبين (GTK)
Name[ast]=Deepin Terminal (GTK)
Name[az]=Deepin Terminal (GTK)
Name[bg]=Deepin терминал (GTK)
Name[ca]=Terminal del Deepin  (GTK)
Name[cs]=Terminál (GTK)
Name[da]=Deepin terminal (GTK)
Name[de]=Deepin Terminal (GTK)
Name[el]=Deepin Tερματικό (GTK)
Name[en_AU]=Deepin Terminal (GTK)
Name[eo]=Deepin terminalo (GTK)
Name[es]=Terminal Deepin (GTK)
Name[es_419]=Terminal Deepin (GTK)
Name[fi]=Deepin-terminaali (GTK)
Name[fil]=Deepin Terminal (GTK)
Name[fr]=Deepin Terminal (GTK)
Name[gl_ES]=Terminal (GTK)
Name[he]=מסוף Deepin (GTK)
Name[hi_IN]=डीपइन छोर (GTK)
Name[hr]=Deepin terminal (GTK)
Name[hu]=Deepin Terminál (GTK)
Name[hy]=Deepin Տերմինալ (GTK)
Name[id]=Terminal Deepin (GTK)
Name[it]=Deepin Terminal (GTK)
Name[ja]=Deepin Terminal (GTK)
Name[ko]=Deepin 터미널 (GTK)
Name[lt]=Deepin terminalas (GTK)
Name[ml]=ഡീപിൻ ടെർമിനൽ (GTK)
Name[ms]=Terminal Deepin (GTK)
Name[nb]=Deepin terminal (GTK)
Name[nl]=Deepin Terminal (GTK)
Name[pam]=Deepin Terminal (GTK)
Name[pl]=Terminal Deepin (GTK)
Name[pt]=Deepin Terminal (GTK)
Name[pt_BR]=Terminal Deepin (GTK)
Name[ro]=Terminalul Deepin (GTK)
Name[ru]= Терминал Deepin  (GTK)
Name[sk]=Deepin Terminál (GTK)
Name[sl]=Terminal Deepin (GTK)
Name[sq]=Terminali Deepin (GTK)
Name[sr]=Дипин Терминал (GTK)
Name[sv]=Deepin-terminal (GTK)
Name[tr]=Deepin Uçbirim (GTK)
Name[ug]=Deepin تېرمىنالى (GTK)
Name[uk]=Термінал Deepin (GTK)
Name[vi]=Deepin Terminal (GTK)
Name[zh_CN]=深度终端 (GTK)
Name[zh_HK]=Deepin 終端機 (GTK)
Name[zh_TW]=Deepin Terminal (GTK)

[NewWindow Shortcut Group]
Exec=deepin-terminal
Name=New Window (GTK)

# Translations:
# Do not manually modify!
Name[ast]=Ventana nueva (GTK)
Name[ca]=Finestra nova (GTK)
Name[fr]=Nouvelle fenêtre (GTK)
Name[hu]=Új ablak (GTK)
Name[it]=Nuova finestra (GTK)
Name[lt]=Naujas langas (GTK)
Name[nl]=Nieuw venster (GTK)
Name[pt_BR]=Nova Janela (GTK)
Name[ru]=Новое Окно (GTK)
Name[sk]=Nové okno (GTK)
Name[sq]=Dritare e Re (GTK)
Name[sr]=Нови прозор (GTK)
Name[tr]=Yeni Pencere (GTK)
Name[uk]=Нове вікно (GTK)
Name[zh_CN]=新建窗口 (GTK)

[Quake Shortcut Group]
Exec=deepin-terminal --quake-mode
Name=Quake Terminal (GTK)

# Translations:
# Do not manually modify! 
Name[ast]=Terminal Quake (GTK)
Name[ca]=Terminal Quake (GTK)
Name[it]=Terminale in primo piano (GTK)
Name[lt]=Quake terminalas (GTK)
Name[nl]=Quake-terminal (GTK)
Name[pt_BR]=Terminal Quake (GTK)
Name[ru]=Выпадающий Терминал (GTK)
Name[sk]=Quake terminál (GTK)
Name[sq]=Terminal Quake (GTK)
Name[sr]=Спуштајући терминал (GTK)
Name[tr]=Quake Uçbirim (GTK)
Name[uk]=Термінал Quake (GTK)
Name[zh_CN]=雷神终端 (GTK)

