[Desktop Entry]
Categories=GNOME;GTK;DDE;Utility;System;TerminalEmulator;
Comment=Use the command line
Exec=gxde-terminal
GenericName=Terminal 
Icon=gxde-terminal
Keywords=shell;prompt;command;commandline;
Name=GXDE Terminal 
StartupNotify=true
TryExec=gxde-terminal
Type=Application
X-GXDE-Vendor=GXDE

# Translations:
# Do not manually modify! 
Comment[am_ET]=የ ትእዛዝ መስመር ይጠቀሙ 
Comment[ar]=استخدام سطر الأوامر 
Comment[ast]=Usa la llinia comandos 
Comment[az]=Əmr sətirindən istifadə et 
Comment[bg]=Използване на команден ред 
Comment[ca]=Useu la línia d'ordres 
Comment[cs]=Používejte příkazový řádek 
Comment[da]=Brug kommandolinjen 
Comment[de]=Kommandozeile benutzen 
Comment[el]=Χρήση της γραμμής εντολών 
Comment[en_AU]=Use the command line 
Comment[eo]=Uzi la komandlinio 
Comment[es]=Usar la línea de comando 
Comment[es_419]=Usar la línea de comandos 
Comment[fi]=Käytä komentoriviä 
Comment[fr]=Utiliser la ligne de commande 
Comment[gl_ES]=Empregar a liña de comandos 
Comment[he]=השתמש בשורת פקודה 
Comment[hi_IN]=आदेश रेखा का उपयोग करें 
Comment[hr]=Koristi naredbeni redak 
Comment[hu]= A parancssor használata 
Comment[hy]=Օգտագործել հրամանների տողը 
Comment[id]=Gunakan baris perintah 
Comment[it]=Usa linea di comando 
Comment[ja]=コマンドラインを使用する 
Comment[ko]=명령어 사용 
Comment[lt]=Naudoti komandų eilutę 
Comment[ml]=കമാൻഡ് ലൈൻ ഉപയോഗിക്കുക 
Comment[ms]=guna baris perintah 
Comment[nb]=Bruk kommandolinjen 
Comment[nl]=De opdrachtregel gebruiken 
Comment[pam]=Gamitan ing command line 
Comment[pl]=Użyj wiersza poleceń 
Comment[pt]=Utilize a linha de comandos 
Comment[pt_BR]=Usar a linha de comando 
Comment[ro]=Utilizare linia de comandă 
Comment[ru]=Использовать командную строку 
Comment[sk]=Použiť príkazový riadok 
Comment[sl]=Uporabi ukazno vrstico 
Comment[sq]=Përdorni rresht urdhrash 
Comment[sr]=Користите командну линију 
Comment[sv]=Använd kommandoraden 
Comment[tr]=Komut satırını kullan 
Comment[uk]=Використовувати командний рядок 
Comment[zh_CN]=使用命令行 
Comment[zh_HK]=使用命令列 
Comment[zh_TW]=使用命令列介面 
GenericName[af]=Terminaal 
GenericName[am_ET]=ተርሚናል 
GenericName[ar]=الطرفية 
GenericName[ast]=Terminal 
GenericName[az]=Terminal 
GenericName[bg]=Терминал 
GenericName[bn]=প্রান্তিক 
GenericName[ca]=Terminal 
GenericName[cs]=Terminál 
GenericName[da]=Terminal 
GenericName[de]=Terminal 
GenericName[el]=Τερματικό 
GenericName[en_AU]=Terminal 
GenericName[eo]=Terminalo 
GenericName[es]=Terminal  
GenericName[es_419]=Terminal  
GenericName[fa]=ترمینال 
GenericName[fi]=Pääte 
GenericName[fr]=Terminal 
GenericName[gl_ES]=Terminal 
GenericName[he]=מסוף 
GenericName[hi_IN]=टर्मिनल 
GenericName[hr]=Terminal 
GenericName[hu]=Terminál 
GenericName[id]=Terminal 
GenericName[it]=Terminale 
GenericName[ja]=ターミナル 
GenericName[ko]=터미널 
GenericName[lt]=Terminalas 
GenericName[ml]=ടെർമിനൽ 
GenericName[mn]=Терминал 
GenericName[ms]=Terminal 
GenericName[nb]=Terminal 
GenericName[nl]=Terminal 
GenericName[pl]=Terminal 
GenericName[pt]=Abrir Terminal 
GenericName[pt_BR]=Terminal 
GenericName[ro]=Terminalul 
GenericName[ru]=Терминал 
GenericName[sk]=Terminál 
GenericName[sl]=Terminal 
GenericName[sq]=Terminal 
GenericName[sr]=Терминал 
GenericName[sv]=Terminal 
GenericName[ta]=முனையம் 
GenericName[tr]=Uçbirim 
GenericName[ug]=تېرمىنال 
GenericName[uk]=Термінал 
GenericName[vi]=Đầu cuối 
GenericName[zh_CN]=终端 
GenericName[zh_HK]=終端機 
GenericName[zh_TW]=終端機 
Keywords[ca]=shell;intèrpretd'ordres;ordre;línead'ordres;
Keywords[it]=shell;prompt;command;commandline;
Keywords[lt]=apvalkalas;užklausa;komanda;komandų eilutė;eilutė;komandos;
Keywords[nl]=shell;prompt;opdracht;opdrachtregel;
Keywords[pt_BR]=shell;prompt;command;commandline;
Keywords[ru]=shell;prompt;command;commandline;
Keywords[sk]=shell;prompt;command;commandline;
Keywords[sq]=shell;prompt;command;commandline;
Keywords[tr]=shell;prompt;command;commandline;kabuk;komut;komutsatırı;
Keywords[uk]=shell;prompt;command;commandline;оболонка;запит;команда;командна;рядок;
Keywords[zh_CN]=shell;prompt;command;commandline;
Name[am_ET]=የ ዲፕኢን ተርሚናል 
Name[ar]=طرفية ديبين 
Name[ast]=GXDE Terminal 
Name[az]=GXDE Terminal 
Name[bg]=GXDE терминал 
Name[ca]=Terminal del GXDE  
Name[cs]=Terminál 
Name[da]=GXDE terminal 
Name[de]=GXDE Terminal 
Name[el]=GXDE Tερματικό 
Name[en_AU]=GXDE Terminal 
Name[eo]=GXDE terminalo 
Name[es]=Terminal GXDE 
Name[es_419]=Terminal GXDE 
Name[fi]=GXDE-terminaali 
Name[fil]=GXDE Terminal 
Name[fr]=GXDE Terminal 
Name[gl_ES]=Terminal 
Name[he]=מסוף GXDE 
Name[hi_IN]=डीपइन छोर 
Name[hr]=GXDE terminal 
Name[hu]=GXDE Terminál 
Name[hy]=GXDE Տերմինալ 
Name[id]=Terminal GXDE 
Name[it]=GXDE Terminal 
Name[ja]=GXDE Terminal 
Name[ko]=GXDE 터미널 
Name[lt]=GXDE terminalas 
Name[ml]=ഡീപിൻ ടെർമിനൽ 
Name[ms]=Terminal GXDE 
Name[nb]=GXDE terminal 
Name[nl]=GXDE Terminal 
Name[pam]=GXDE Terminal 
Name[pl]=Terminal GXDE 
Name[pt]=GXDE Terminal 
Name[pt_BR]=Terminal GXDE 
Name[ro]=Terminalul GXDE 
Name[ru]= Терминал GXDE  
Name[sk]=GXDE Terminál 
Name[sl]=Terminal GXDE 
Name[sq]=Terminali GXDE 
Name[sr]=Дипин Терминал 
Name[sv]=GXDE-terminal 
Name[tr]=GXDE Uçbirim 
Name[ug]=GXDE تېرمىنالى 
Name[uk]=Термінал GXDE 
Name[vi]=GXDE Terminal 
Name[zh_CN]=GXDE 终端 
Name[zh_HK]=GXDE 終端機 
Name[zh_TW]=GXDE Terminal 

[NewWindow Shortcut Group]
Exec=gxde-terminal
Name=New Window 

# Translations:
# Do not manually modify!
Name[ast]=Ventana nueva 
Name[ca]=Finestra nova 
Name[fr]=Nouvelle fenêtre 
Name[hu]=Új ablak 
Name[it]=Nuova finestra 
Name[lt]=Naujas langas 
Name[nl]=Nieuw venster 
Name[pt_BR]=Nova Janela 
Name[ru]=Новое Окно 
Name[sk]=Nové okno 
Name[sq]=Dritare e Re 
Name[sr]=Нови прозор 
Name[tr]=Yeni Pencere 
Name[uk]=Нове вікно 
Name[zh_CN]=新建窗口 

[Quake Shortcut Group]
Exec=gxde-terminal-gtk --quake-mode
Name=Quake Terminal 

# Translations:
# Do not manually modify! 
Name[ast]=Terminal Quake 
Name[ca]=Terminal Quake 
Name[it]=Terminale in primo piano 
Name[lt]=Quake terminalas 
Name[nl]=Quake-terminal 
Name[pt_BR]=Terminal Quake 
Name[ru]=Выпадающий Терминал 
Name[sk]=Quake terminál 
Name[sq]=Terminal Quake 
Name[sr]=Спуштајући терминал 
Name[tr]=Quake Uçbirim 
Name[uk]=Термінал Quake 
Name[zh_CN]=雷神终端 

